<section class="covers" id="covers">
  <div class="covers-content">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-wrapper">
      <ul class="covers-list">
        <li class="covers-item">
          <img
            src="./img/covers/projects/a-brand-that-is-inspired.jpg"
            alt="a brand that is inspired by forms creates by nature."
            class="cover-image"
            srcset="
              ./img/covers/projects/a-brand-that-is-inspired.jpg    1x,
              ./img/covers/projects/a-brand-that-is-inspired@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/discover-the-joy.jpg"
            alt="Discover the joy of learning English with us!"
            class="cover-image"
            srcset="
              ./img/covers/projects/discover-the-joy.jpg    1x,
              ./img/covers/projects/discover-the-joy@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/fresh-harvest-box.jpg"
            alt="Fresh harvest box is your one-stop place for a delicious fruit basket"
            class="cover-image"
            srcset="
              ./img/covers/projects/fresh-harvest-box.jpg    1x,
              ./img/covers/projects/fresh-harvest-box@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/get-body-in-shape.jpg"
            alt="Get Body in shape, Stay healthy"
            class="cover-image"
            srcset="
              ./img/covers/projects/get-body-in-shape.jpg    1x,
              ./img/covers/projects/get-body-in-shape@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/manage-your-finances.jpg"
            alt="Manage Your Finances Masterfully!"
            class="cover-image"
            srcset="
              ./img/covers/projects/manage-your-finances.jpg    1x,
              ./img/covers/projects/manage-your-finances@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/mimino.jpg"
            alt="MIMINO"
            class="cover-image"
            srcset="
              ./img/covers/projects/mimino.jpg    1x,
              ./img/covers/projects/mimino@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/organic-vegetables.jpg"
            alt="Organic vegetables to your diet today!"
            class="cover-image"
            srcset="
              ./img/covers/projects/organic-vegetables.jpg    1x,
              ./img/covers/projects/organic-vegetables@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/reviving-the-traditional-ukrainian.jpg"
            alt="Reviving the traditional Ukrainian artistry in every stitch."
            class="cover-image"
            srcset="
              ./img/covers/projects/reviving-the-traditional-ukrainian.jpg    1x,
              ./img/covers/projects/reviving-the-traditional-ukrainian@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/transform-your-body.jpg"
            alt="Transforming your body shape with Power Pulse"
            class="cover-image"
            srcset="
              ./img/covers/projects/transform-your-body.jpg    1x,
              ./img/covers/projects/transform-your-body@2x.jpg 2x
            "
          />
        </li>
        <li class="covers-item">
          <img
            src="./img/covers/projects/turn-your-business.jpg"
            alt="Turn your business into an online leader"
            class="cover-image"
            srcset="
              ./img/covers/projects/turn-your-business.jpg    1x,
              ./img/covers/projects/turn-your-business@2x.jpg 2x
            "
          />
        </li>
      </ul>
    </div>
  </div>
</section>
