<footer class="footer" id="footer">
  <div class="container footer-background-image">
    <h2 class="visually-hidden">Let’s work together</h2>
    <div class="title-wrapper">
      <img
        class="footer-icon"
        src="./img/jeff-footer-icon.png"
        alt="jeff icon"
        width="44"
        height="44"
      />
      <p class="footer-text-top">Let’s<span> work </span></p>
    </div>

    <p class="footer-text-bot">together</p>

    <form class="footer-form footer-form-background-image">
      <input
        type="email"
        name="email"
        id="email"
        class="footer-send-email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      />

      <input
        type="text"
        name="text"
        id="text"
        class="footer-send-text"
        placeholder="comments"
        maxlength="200"
      />

      <button type="submit" class="footer-send-contact-btn">Send</button>
    </form>

    <address class="footer-address">
      <ul class="address-list">
        <li class="address-item">
          <a href="mailto:lloydjefferson@gmail.com" class="address-link">
            lloydjefferson@gmail.com
          </a>
        </li>
        <li class="address-item">
          <a href="tel:+3801111111111" class="address-link">
            +380 11 1111 11 11
          </a>
        </li>
      </ul>
    </address>
  </div>
</footer>

<div class="footer-backdrop">
  <div class="footer-modal">
    <button class="footer-modal-btn" type="button">
      <svg class="footer-modal-icon" width="22" height="22">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="footer-modal-title">
      Thank you for your interest in cooperation!
    </p>
    <p class="footer-modal-message">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
