<section class="hero">
  <div class="background">
    <div class="background-base"></div>
    <div class="background-overlay"></div>
  </div>
  <div class="container hero-container">
    <div class="hero-text">
      <h1 class="hero-title">
        Hello.<br />
        <span class="nowrap">I'm&nbsp;Fullstack</span
        ><span class="desktop-nowrap"> developer</span><br />
        Lloyd<br class="mobile-only" />
        Jefferson.
      </h1>
    </div>
    <div class="hero-nav-wrapper">
      <nav class="hero-links">
        <ul class="hero-list">
          <li class="hero-item">
            <a
              href="https://www.instagram.com/goitclub/"
              aria-label="Instagram profile"
              target="_blank"
              >IG</a
            >
          </li>
          <li class="hero-item">
            <a
              href="https://www.facebook.com/goITclub/"
              aria-label="Facebook profile"
              target="_blank"
              >FB</a
            >
          </li>
          <li class="hero-item">
            <a
              href="https://www.youtube.com/"
              aria-label="Youtube channel"
              target="_blank"
              >YT</a
            >
          </li>
          <li class="hero-item">
            <a
              href="https://zhe-eugene.github.io/dom-inator_009/"
              aria-label="Github profile"
              target="_blank"
              >GH</a
            >
          </li>
        </ul>

        <a class="hero-email" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </nav>
    </div>
  </div>
</section>
