<section id="projects" data-aos="fade-right" class="projects-section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper-container">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-item swiper-slide">
          <div class="description-content">
            <h3 class="technologies-heading">Technologies used</h3>
            <ul class="technologies" aria-label="Список технологій">
              <li>#react</li>
              <li>#js</li>
              <li>#node js</li>
              <li>#git</li>
            </ul>
            <p class="projects-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/zhe-eugene/dom-inator_009"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-projects"
              aria-label="Переглянути проект Programming Across Borders"
            >
              See project
            </a>
          </div>
          <div class="projects-content">
            <picture class="projects-picture">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/projects_desk_1x_1.png 1x,
                  ./img/projects/projects_desk_2x_1.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/projects_tab_1x_1.png 1x,
                  ./img/projects/projects_tab_2x_1.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/projects_mob_1x_1.png 1x,
                  ./img/projects/projects_mob_2x_1.png 2x
                "
              />
              <img
                class="projects-pic"
                src="./img/projects/projects_mob_1x_1.png"
                alt="Project 1"
                width="311"
                height="195"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="description-content">
            <h3 class="technologies-heading">Technologies used</h3>
            <ul class="technologies" aria-label="Список технологій">
              <li>#react</li>
              <li>#js</li>
              <li>#node js</li>
              <li>#git</li>
            </ul>
            <p class="projects-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/zhe-eugene/dom-inator_009"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-projects"
              aria-label="Переглянути проект Programming Across Borders"
            >
              See project
            </a>
          </div>
          <div class="projects-content">
            <picture class="projects-picture">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/projects_desk_1x_2.png 1x,
                  ./img/projects/projects_desk_2x_2.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/projects_tab_1x_2.png 1x,
                  ./img/projects/projects_tab_2x_2.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/projects_mob_1x_2.png 1x,
                  ./img/projects/projects_mob_2x_2.png 2x
                "
              />
              <img
                class="projects-pic"
                src="./img/projects/projects_mob_1x_2.png"
                alt="Project 2"
                width="311"
                height="195"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="projects-item swiper-slide">
          <div class="description-content">
            <h3 class="technologies-heading">Technologies used</h3>
            <ul class="technologies" aria-label="Список технологій">
              <li>#react</li>
              <li>#js</li>
              <li>#node js</li>
              <li>#git</li>
            </ul>
            <p class="projects-name">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://andriygoncharuk.github.io/gr06-project-js/"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-projects"
              aria-label="Переглянути проект Programming Across Borders"
            >
              See project
            </a>
          </div>
          <div class="projects-content">
            <picture class="projects-picture">
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/projects_desk_1x_3.png 1x,
                  ./img/projects/projects_desk_2x_3.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/projects_tab_1x_3.png 1x,
                  ./img/projects/projects_tab_2x_3.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/projects_mob_1x_3.png 1x,
                  ./img/projects/projects_mob_2x_3.png 2x
                "
              />
              <img
                class="projects-pic"
                src="./img/projects/projects_mob_1x_3.png"
                alt="Project 3"
                width="311"
                height="195"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-swiper-buttons">
        <button
          class="projects-button-prev"
          tabindex="0"
          aria-label="Попередній слайд"
        >
          <svg class="projects-icons">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="projects-button-next"
          tabindex="0"
          aria-label="Наступний слайд"
        >
          <svg class="projects-icons">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
