<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="review-item swiper-slide">
          <picture>
            <source srcset="" />
            <img
              width="48px"
              height="48px"
              src="./img/reviews/reviewers-photo.jpg"
              alt="Reviewer photo"
              class="review-photo"
            />
          </picture>
          <div class="review-info">
            <h3 class="review-author">Natalia</h3>
            <p class="review-text">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectations
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source srcset="" />
            <img
              width="48px"
              height="48px"
              src="./img/reviews/reviewers-photo.jpg"
              alt="Reviewer photo"
              class="review-photo"
            />
          </picture>
          <div class="review-info">
            <h3 class="review-author">Natalia</h3>
            <p class="review-text">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectationsWork with was
              extraordinary! He turned out to be a very competent and
              responsible specialist. The projects were completed on time and
              the result exceeded my expectations
            </p>
          </div>
        </li>
        <li class="review-item swiper-slide">
          <picture>
            <source srcset="" />
            <img
              width="48px"
              height="48px"
              src="./img/reviews/reviewers-photo.jpg"
              alt="Reviewer photo"
              class="review-photo"
            />
          </picture>
          <div class="review-info">
            <h3 class="review-author">Natalia</h3>
            <p class="review-text">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectations
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-buttons">
        <button class="swiper-button swiper-button-prev">
          <svg class="icon swiper-icon" width="24px" height="24px">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button swiper-button-next">
          <svg class="icon swiper-icon" width="24px" height="24px">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
