#about-me {
  padding: 32px 0;
}

.about-me-name {
  border-radius: 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  padding: 32px 32px 32px;
  color: var(--main-text);
  background: #242527;
  height: 500px;
}

.photo-about {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-picture {
  border-radius: 24px;
}

.fnctl {
  color: #ed3b44;
}

.wbst {
  color: rgba(250, 250, 250, 0.4);
}

.accordion-container {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 20px;
}

.ac-trigger {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 9px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.btn-up {
  fill: rgb(240, 232, 232);
  font-size: 16px;
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-up-one {
  fill: rgb(240, 232, 232);
  font-size: 16px;
  width: 18px;
  height: 18px;
  stroke-width: 2px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ac-flex {
  display: flex;
}

.ac-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1c1d20;
  border: none;
  border-top: rgba(250, 250, 250, 0.4);
}

.ac-header {
  font: 600 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.ac-text {
  font: 500 16px / 1.5 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: none;
  background-color: #1c1d20;
}

.ac-text.ac-flex {
  display: flex;
}

.ac-panel.open .ac-text {
  display: flex;
}

.ac-trigger.open {
  transform: rotate(180deg);
}

.ac-trigger.open::before {
  transform: rotate(180deg);
}

.ac>.ac:first-child .ac-panel {
  display: flex;
}

.ac>.ac:first-child .ac-text {
  display: flex;
}

.info-work {
  gap: 32px;
}

.skills-swipe {
  position: relative;
  overflow: hidden;
  margin-top: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 55px;

}

.wraper-skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  transition: transform 0.3s ease;
  padding: 0;
  position: relative;

}

.skill-slide {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.item-color {
  background-color: #ed3b44;
  border: none;
}

.none-slide {
  display: none;
}

.none-slide-react {
  display: none;
}

.next-button-swiper {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

.next-button-swiper::after {
  content: '→';
  color: #3b3b3b;
  font-size: 26px;
  width: 10px;
  height: 16px;
  padding-right: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  #about-me {
    padding-bottom: 64px;
  }

  .accordion-container {
    padding: 64px 0;
    gap: 32px;
  }

  .ac-header {
    margin-bottom: 8px;
  }

  .about-me-name {
    font-size: 38px;
    line-height: 105%;
    padding: 64px 64px 64px;
    height: 700px;
  }

  .info-work {
    gap: 16px;
  }

  .ac-trigger {
    width: 40px;
    height: 40px;
  }

  .ac-trigger::before {
    width: 20px;
    height: 20px;
  }

  .skills-swipe {
    gap: 64px;
  }

  .skill-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
    opacity: 0, 3;
  }

  .none-slide-react {
    display: flex;
  }

  .swiper-none-slide {
    border: none;
  }

  .next-button-swiper {
    width: 40px;
    height: 40px;
    opacity: 1;
  }

  .next-button-swiper::after {
    width: 13px;
    height: 22px;
  }

  .about-info {
    padding-left: 250px;
    padding-right: 32px;

  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  #about-me {
    padding-top: 96px;
    padding-bottom: 82px;
  }

  .photo-about {
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-me-name {
    display: inline-block;
    width: 680px;
    vertical-align: top;
    margin-bottom: 0;
  }

  .accordion-container {
    margin: 96px 0;
  }

  .info-work {
    gap: 32px;
  }

  .ac-text {
    padding-bottom: 16px;
  }

  .about-item {
    padding-left: 696px;
    padding-right: 68px;
  }

  .about-info {
    padding-left: 728px;
    padding-right: 68px;
  }

  .about-picture {
    display: inline-block;
    vertical-align: top;
  }

  .skills-swipe {
    padding: 0 32px;
  }

  .none-slide {
    display: flex;
  }
}