@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/InterTight-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/InterTight-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
}


main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}