@font-face {
  font-family: 'Inter Tight';
  src: url('/src/fonts/InterTight-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/src/fonts/InterTight-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  background-color: #1c1d20;
  color: #fafafa;
}