.covers {
  width: 100%;

  padding-top: 32px;
  padding-bottom: 32px;
}

.covers-content {
  height: 508px;
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 0 auto;

  position: relative;
  overflow: hidden;

  background-color: #3b3b3b;
  background-image: url(../img/covers/background-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .covers-content {
    background-image: url(../img/covers/background-mobile@2x.png);
  }
}

.covers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: calc(282px * 3 + 30px * 2);
  height: 100%;
  justify-content: center;

  transform: rotate(16deg);
  flex-shrink: 0;

  /* animation-name: coversAnimationRotate;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}

.covers-item {
  width: 282px;
  height: 162px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.covers-item:nth-child(6),
.covers-item:nth-child(5),
.covers-item:nth-child(4),
.covers-item:nth-child(10) {
  transform: translateX(-40%);
  animation-name: coversAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.covers-item:nth-child(1),
.covers-item:nth-child(2),
.covers-item:nth-child(3),
.covers-item:nth-child(7),
.covers-item:nth-child(8),
.covers-item:nth-child(9) {
  /* transform: translateX(-40%); */
  animation-name: coversAnimation2;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes coversAnimation {
  0% {
    transform: translateX(-40%);
  }
  50% {
    transform: translateX(+40%);
  }
  100% {
    transform: translateX(-40%);
  }
}

@keyframes coversAnimation2 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0%);
  }
}
