/* Styles for Mobile devices */
.footer {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer {

    background-image: url(../img/glass-footer1x.png);
    background-repeat: no-repeat;
    background-position: right;

}


.title-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.footer-icon {}

.footer-text-top,
.footer-text-bot {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.footer-text-top span {
    color: #ed3b44;
}

.footer-text-bot {
    margin-bottom: 63px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    position: relative;

}

.footer-send-email,
.footer-send-text {
    color: rgba(250, 250, 250, 0.6);
    width: 100%;
    height: 44px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    outline: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 20px;

}

.footer-form input::placeholder {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-send-email {
    margin-bottom: 16px;

}

.footer-send-text {
    margin-bottom: 32px;
}

.footer-form input:hover,
.footer-form input:focus,
.footer-form input:active {
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
    color: #FAFAFA;
}

.footer-send-contact-btn {
    font-family: inherit;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ed3b44;
    color: #fafafa;
    cursor: pointer;
}

.footer-send-contact-btn:hover,
.footer-send-contact-btn:focus {
    background-color: #e0373f;
}

.footer-address {
    font-style: normal;
}

.address-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

}

.address-item {
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
    min-width: 178px;
    height: 37px;
    flex-shrink: 0;
}

.address-item:hover {
    border: 1px solid #fafafa;

}

.address-item:last-child {
    min-width: 118px;
}

.address-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    white-space: nowrap;

}

body.modal-open {
    overflow: hidden;

}

.footer-backdrop {
    z-index: 1000;

}

.footer-modal {
    z-index: 1001;
}

/* --------------------MODAL----------------------- */


.footer-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: rgba(15, 15, 16, 0.6);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.footer-modal {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px 32px;
    width: 343px;
    height: 276px;
    background: #1c1d20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.footer-modal-btn {
    min-width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-icon {
    stroke: #FAFAFA;
    fill: none;
}

.footer-modal-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-bottom: 16px;

}

.footer-modal-message {
    color: rgba(250, 250, 250, 0.6);
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
    .footer {
        padding-top: 80px;
        padding-bottom: 160px;

    }

    .footer {
        background-image: url(../img/glass-footer1x-tab.png);
        background-repeat: no-repeat;
        background-position: right;
    }



    .title-wrapper {
        gap: 20px;
    }

    .footer-icon {
        width: 70px;
        height: 70px;
    }

    .footer-text-top,
    .footer-text-bot {
        font-size: 64px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


    }

    .footer-send-email {
        margin-bottom: 0;
    }

    .footer-send-text {
        margin-bottom: 0;
    }

    .footer-send-email,
    .footer-send-text {
        max-width: 245px;
        height: 44px;

    }

    .footer-send-contact-btn {
        width: 150px;
        height: 150px;
    }

    .address-list {
        gap: 8px;

    }

    .address-item {
        min-width: 239px;
        height: 55px;

    }

    .address-item:last-child {
        min-width: 171px;
    }

    .address-link {
        font-size: 16px;
    }

    /* --------------------MODAL----------------------- */
    .footer-modal {
        padding: 64px;
        width: 492px;
        height: 246px
    }

    .footer-modal-message {
        text-align: center;
    }

    .email-message {
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        margin-top: 4px;
        margin-left: 4px;

        position: absolute;
        bottom: 30px;
        left: 0;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {

    .footer {
        background-image: url(../img/glass-footer1x-desc.png);
        background-repeat: no-repeat;
        background-position: 100% 50%;

    }

    .footer .container {
        max-width: 1048px;
    }

    .footer-send-email,
    .footer-send-text {
        max-width: 390px;
    }
}


#email.valid {
    border-bottom: 2px solid #3cbc81;
}

#email.invalid {
    border-bottom: 2px solid #e74a3b;
}