.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.projects-title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.projects-swiper-container {
  overflow: hidden;
  width: 100%;
} 

.projects .swiper-slide {
  display: flex; 
  flex-direction: column;
}

.description-content {
  padding: 32px;
  background: #fafafa; 
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.technologies {
  display: flex; 
  gap: 6px;
  flex-wrap: wrap; 
  margin-bottom: 96px;
}


.technologies li {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  font-size: 16px;
  color:#1c1d20;
  font-weight: 500;
  letter-spacing: -0.02em; 
  max-width: fit-content;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.technologies li:hover{
  box-shadow: 0 0 0 1px var(--arrow);
}

.projects-name {
  width: 279px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}

.btn-projects {
  border-radius: 60px;
  padding: 13px 32px;
  width: 141px;
  height: 45px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background: #ed3b44;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out;
}

.btn-projects:hover {
  background: #e0373f;  
  transform: scale(1.05);
  box-shadow: 0 0 0 1px var(--arrow); 
}

.projects-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #242527;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 100px 16px;
}

.projects-picture {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.projects-picture:hover {
  box-shadow: 0 0 8px var(--main-text);
  transform: scale(1.03);
}

.projects-pic {
  width: 311px;
  height: 195px;
}

.projects-swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 1px;
}

.projects-button-prev,
.projects-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 60px;
  border: 1px solid #fafafa80;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

.projects-button-prev:hover,
.projects-button-next:hover {
  background-color: var(--cards);
}

.projects-button-prev:focus,
.projects-button-next:focus {
  background-color: var(--cards);
  box-shadow: 0 0 0 1px var(--main-text);
}

.projects-icons {
  width: 25px;
  height: 24px;
  stroke: #fafafa80;
  fill: none;
}

.projects-button-prev:disabled,
.projects-button-next:disabled {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
.projects-section {
  margin-bottom: 96px;
}

.projects .swiper-wrapper {
  margin-bottom: 64px;
} 

.description-content {
  padding: 64px;
}

.technologies {
  margin-bottom: 164px;
}

.technologies li {       
  padding: 18px;
  font-size: 16px;
  flex: 1 1 calc(25% - 12px);
}

.technologies li:last-child {
  flex-basis: calc(25% - 12px);
}

.projects-name {
  width: 494px;
  font-size: 44px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.btn-projects {
  width: 177px;
  height: 55px;
  padding: 18px 50px;   
}

.projects-content {
  padding: 120px 45px;
}

.projects-swiper-buttons {
  gap: 20px;
}

.projects-button-prev,
.projects-button-next {
  width: 68px;
  height: 68px;
}

.projects-icons {
  width: 32px;
  height: 32px;
}
}


@media screen and (min-width: 1440px) {    
.projects-section{
  margin-bottom: 164px;
}
 
.description-content {
  width: 50%;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 0;
}

.projects .swiper-slide {
  display: flex; 
  flex-direction: row;
}

.technologies {
  margin-bottom: 223px;
}

.projects-name {
  width: 494px;
  font-size: 44px;
  line-height: 1;
}
 
.btn-projects {
  width: 177px;
  height: 55px;   
}

.projects-content {
  width: 50%;
  padding-left: 37px;
  padding-right: 37px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 24px;
}

.projects-pic {
  width: 614px;
  height: 385px;
}

.projects-swiper-buttons {
  gap: 20px;
}

.projects-button-prev,
.projects-button-next {
  width: 68px;
  height: 68px;
}

.projects-icons {
  width: 32px;
  height: 32px;
}
}