.reviews {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.reviews-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.reviews-list {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px; */
  margin-bottom: 32px;
}
.review-item {
  width: 343px;
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
}
.review-photo {
  border-radius: 10px;
  margin-bottom: 32px;
}
.review-author {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding-bottom: 8px;
}
.review-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.swiper-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.swiper-slide {
  height: auto !important;
}
.swiper-button-prev,
.swiper-button-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 18px;
  width: 68px !important;
  height: 68px !important;
  background-color: transparent;
  position: unset !important;
  margin-top: 0 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: none !important;
}
.swiper-button-disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
}
.swiper-button-disabled .icon {
  stroke: #3b3b3b;
  fill: none;
}
.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: #fafafa;
  /* fill: #fafafa; */
}
.swiper-icon {
  width: 24px;
  height: 24px;
}

.reviews-not-found {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
}
