/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import 'modern-normalize/modern-normalize.css';

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./footer.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
